<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>form3</title>
</head>
<body>
	<form method="POST" action="/createNew">
		<label for="ID">ID: </label>
		<input type="text" name="ID"><br><br>
		<label for="username">User: </label>
		<input type="text" name="username"><br><br>
		<label for="email">E-mail: </label>
		<input type="email" name="email"><br><br>
		<input type="submit" value="Add to Database">
	</form>
</body>
</html>