{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h3>Welcome to <u>A to Z HouseHold Services</u></h3> <h4><a href="">Register as Professional</a></h4>
<form method="post" action="">
    <label for="email">Email: </label>
    <input type="email" name="fname"><br>
    <label for="password">Last name:</label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Login">
</form>
<a href="https://www.w3schools.com">Create a New Account</a>
{% endblock %}
  