{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h3>Welcome to <u>A to Z HouseHold Services</u></h3> <h4><a href="{{ url_for('main.reg_professional') }}">Register as Professional</a></h4>
<form method="post" action="/login">
    <label for="username">Username: </label>
    <input type="text" name="username"><br>
    <label for="password">Password: </label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Login">
</form>
<a href="https://www.w3schools.com">Create a New Account</a>
{% endblock %}
  